h2 {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  text-underline-position: below;
}

.photo {
  margin: 5px;
  border: 3px darkslategray;
  float: center;
  padding: 2px;
}

body {
  background-color: darkslategrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#outputPhrase {
  display: none;
  float: center;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: purple;
}

#outputNumbers {
  text-align: center;
  font-weight: bold;
  border: 3px black;
}



